{% extends 'base.html.twig' %}
{% block title 'Accueil' %}
{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container-fluid" style="background-color: #17324f;margin-top: 25px">
        <div class="row" id="img1">
            <div class="col-lg-12" style="padding-left: 0px;padding-top: 10px">
                <img src="{{ asset ('img/montagne4.jpg') }}" id="img" class="img-responsive" alt="salut" style="left: 0;right: 0;width: 100%
    ;height: 100%;  background-size: 100% 100%;position: relative"/>
                <a href="#bas" role="button" style="color: black;
        position: absolute;right: 15px;bottom: 0px;"> <i class="fas fa-arrow-down fa-3x"></i></a>
            </div>
        </div>
        <div class="row" style="margin-top: 50px">
            {% for post in post %}

                <div class="col-3 col-2-medium col-12-small" id="fig1">
                    <section>
                        <a href="{{ path('post', {'id': post.id}) }}" class="image featured">
                            <img src="{{ asset("img/upload/"~post.figure) }}" alt=""
                            /></a>
                        <div class="container">
                            <div class="row" style="text-align: center">
                                <div class="col-md-6"><a href="{{ path('post', {'id': post.id}) }}" class="image featured">
                                        <h6>{{ post.name }}</h6></a>
                                </div>
                                {% if is_granted ('ROLE_USER') %}

                                <form style="padding: 0px;margin-top: 50px;margin-left: 50px"
                                      action="{{ path ('updatePost',{id:post.id} ) }}" method="post">
                                    <button class="btn btn-link"><i class="fas fa-pen" style="color: #C5D86D"></i>
                                    </button>
                                </form>

                                <form style="padding: 0px;margin-top: 50px" action="{{ path ('deletePost',{id:post.id} ) }}"
                                      method="post">
                                    <button class="btn btn-link delete">
                                        <i class="fas fa-trash" style="color: #C5D86D"></i></button>
                                    <input type="hidden" name="_token" value="{{ csrf_token('delete'~post.id) }}">
                                </form>
                            </div>
                        </div>
                        {% endif %}

                    </section>
                </div>
            {% endfor %}
        </div>


        <button class="btn " type="button" id="button" data-toggle="collapse"
                data-target="#collapseExample"
                aria-expanded="false" aria-controls="collapseExample">
            Voir plus
        </button>


        <div class="row" style="margin-top: 50px" id="fig">
                <div class="collapse" id="collapseExample">
                    {% for post in post %}
                        <div class="col-lg-12" style="margin-top: 50px">
                    <a href="{{ path('post', {'id': post.id}) }}" class="image featured">
                        <img src="{{ asset("img/upload/"~post.figure) }}" alt="" style="width: 100%"
                        /></a>
                        </div>
                    <div class="container">
                        <div class="row" style="text-align: center">
                            <div class="col-md-6 col-8-small">
                                <h6>{{ post.name }}</h6>
                            </div>
                            {% if is_granted ('ROLE_USER') %}

                            <form
                                    style="padding: 0px;margin-top: 15px"
                                  action="{{ path ('updatePost',{id:post.id} ) }}" method="post">
                                <button class="btn btn-link"><i class="fas fa-pen" style="color: #C5D86D"></i>
                                </button>
                            </form>

                            <form
                                    style="padding: 0px;margin-top: 15px"
                                    action="{{ path ('deletePost',{id:post.id} ) }}"
                                  method="post">
                                <button class="btn btn-link delete">
                                    <i class="fas fa-trash" style="color: #C5D86D"></i></button>
                                <input type="hidden" name="_token" value="{{ csrf_token('delete'~post.id) }}">
                            </form>
                        </div>
                    </div>
                    {% endif %}
                    {% endfor %}
                </div>
        </div>
    </div>



    <div class="col align-self-end" id="bas">
        <a href="#haut" style="color: black;position: absolute;right: 0;bottom: 0">
            <i class="fas fa-arrow-up fa-3x"></i>
        </a>
    </div>
{% endblock %}