{% extends 'base.html.twig' %}
{% block title 'Connexion' %}
{% block body %}
    <div class="container" style="text-align: center;">
        <div class="row" style="justify-content: center;margin-top: 50px">
            <form method="post">
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}

                <h1 class="h3 mb-3 font-weight-normal" style="color: whitesmoke">Connexion</h1>
                <label for="inputEmail" class="sr-only">Email</label>
                <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control"
                       style="margin-bottom: 10px" placeholder="Email" required autofocus>
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" name="password" id="inputPassword" class="form-control"
                       style="margin-bottom: 10px" placeholder="Password" required>

                <input type="hidden" name="_csrf_token"
                       value="{{ csrf_token('authenticate') }}"
                >

                <div class="col-md-12">
                    <a href="{{ path('forgot') }}" style="color: #C5D86D">Mot de pass oublier</a>
                </div>
                <div class="col-md-12">
                    <a href="{{ path('register') }}" style="color: #C5D86D">Pas de compte ?</a>
                </div>
                <button class="btn" type="submit" style="margin-top: 20px">
                    Connexion
                </button>

            </form>
        </div>
    </div>
{% endblock %}