{% extends 'base.html.twig' %}
{% block title 'Mot de pass oublié' %}
{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {% for message in app.flashes('alert') %}
        <div class="alert alert-danger" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container" style="text-align: center">
    <div class="row" style="justify-content: center;margin-top: 50px;color: black">
        {{ form_start(form) }}
        <div class="card" style="width: 18rem;background-color: #17324f">
            <div class="card-body" style="color: whitesmoke">
                <h5 class="card-title">Votre Mail</h5>
                <p class="card-text">
                    {{ form_row(form.email) }}
                </p>
                <button class="btn" type="submit">
                    Envoyer
                </button>
            </div>
        </div>
        {{ form_end(form) }}
    </div>




{% endblock %}