{% extends 'base.html.twig' %}
{% block title 'Profil' %}
{% block body %}
    {% for message in app.flashes('succes') %}
        <div class="alert alert-success" role="alert">
            {{ message }}
        </div>
    {% endfor %}
    {{ form_start(form) }}
    <div class="container" style="justify-content: center;text-align: center;">
        <div class="row" style="justify-content: center;margin-top: 50px;color: whitesmoke">
            <div class="col-md-12">
                <h1 class="h2 mb-4 font-weight-normal"
                    style="color: whitesmoke">{{ var|default('Modification du profil') }}</h1>
            </div>
            <div class="col-lg-12">
                <div id="profil1" style="margin-top: 20px">
                    <img id="profil2"  src="{{ asset ('img/upload/'~user.img) }}" alt="">
                </div>
            </div>
            <div class="col-md-7" style="margin-top: 30px">
                {{ form_row(form.firstName,{'label':user.firstName}) }}
            </div>

            <div class="col-md-7">
                {{ form_row(form.img) }}
            </div>
        </div>
        <div class="row" style="justify-content: center">
            <div class="col-lg-12">
                <a href="{{ path('password',{id:user.id}) }}" style="margin-bottom: 30px;color: #C5D86D" class="nav-link"
                >Changer votre Mot de pass</a>
            </div>
            <div class="col-lg-12">
            <button type="submit" class="btn" style="margin-bottom: 30px">{{ button|default('Enregistrer') }}</button>
            </div>
            <div class="col-la-12">
                <a href="{{ path('deleteUser',{id:user.id}) }}" style="color: #C5D86D">Désactiver le compte</a>
            </div>
        </div>
        {{ form_end(form) }}
    </div>
    </div>

{% endblock %}