{% extends 'base.html.twig' %}
{% block title 'Figure' %}
{% block body %}
    <script>let a = 1</script>
    <div class="container" style="background-color: #17324f">
        <div class="col-lg-12" style="color : whitesmoke;text-align: center">
            <h3>{{ figure.nameFigure }}</h3>
        </div>
        <div class="col-lg-12 " style="text-align: center">
            <img class="card-img-top img-thumbnail" src="{{ asset("img/upload/"~figure.imgFigure ) }}"
                 alt="Responsive image" style="margin-top: 50px;position: relative;width: 150rem;max-width: 50%">
        </div>
        <div class="row">
            <div class="collapse" id="collapseExample">
                {% for img in figure.imgSecondary | sort |reverse %}
                    <div class="card col-lg-4" id="fig" style="width: 14rem;background-color: #17324f;
                        margin-left: 40px;margin-top: 50px;margin-bottom: 50px;border: none">

                        <img class="card-img-top rounded"
                             src="{{ asset("img/upload/"~img.nameImg ) }}"
                             alt="Card image cap" style="margin-top: 15px">
                    </div>
                {% endfor %}
            </div>

            <div class="col-lg-12" style="text-align: center;margin-top: 20px;margin-bottom: 20px">
                <button class="btn" type="button" id="button" data-toggle="collapse"
                        data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    Voir plus
                </button>
                <button class="btn" type="button" id="button" data-toggle="collapse" data-target="#video"
                        aria-expanded="false" aria-controls="video">
                    Voir plus de vidéo
                </button>
                <div class="row">
                    <div class="row col-lg-6" style="margin-left: 0px">
                    {% for img in figure.imgSecondary | sort |reverse %}
                        <div class="card col-lg-4" id="fig1"
                             style="width: 14rem;background-color: #17324f; margin-top: 50px;margin-bottom: 50px;border: none">

                            <img class="card-img-top rounded"
                                 src="{{ asset("img/upload/"~img.nameImg ) }}"
                                 alt="Card image cap" style="margin-top: 15px;display: flex">
                        </div>
                    {% endfor %}
                    </div>
                    <div class="row col-lg-6" style="margin-left: 0px">
                    {% for video in figure.videos | sort |reverse %}
                        <div class="card col-lg-4" id="fig1"
                             style="width: 24rem;background-color: #17324f;
                       margin-top: 50px;margin-bottom: 50px;border: none"
                        >
                            <iframe width="150" height="120" src="{{ video.url }}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                        </div>
                    {% endfor %}
                    </div>
                </div>
            </div>


            <div class="collapse" id="video" style="text-align: center">
                {% for video in figure.videos | sort |reverse %}
                    <div class="card col-lg-12" id="fig" style="width: 24rem;background-color: #17324f;
                       margin-top: 50px;margin-bottom: 50px;border: none">

                        <iframe width="315" height="135" src="{{ video.url }}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>
                    </div>
                {% endfor %}
            </div>


            <div class="col-lg-12" style="color: whitesmoke;
            margin-bottom: 30px;font-size: large;">
                <div class="col-lg-4"
                     style="margin-bottom: 30px;font-size: x-large;border: double;text-align: left">
                    Renseignement sur la figure
                </div>
                <div class="col-lg-12" style="height: 300px;
  color: whitesmoke;border: double;text-align: left;overflow: scroll">
                    {{ figure.content }}
                </div>
            </div>
            <div class="row col-lg-12" style="border-bottom: double;color: whitesmoke;">
                <div
                        class="col-md-6"
                        style="color: whitesmoke;text-align: center;
            margin-bottom: 30px;font-size: large"
                >
                        Groupe de la figure : {{ figure.groupNumber.number }}
                </div>
                <div
                        class="col-md-6"
                        style="color: whitesmoke;text-align: center;
            margin-bottom: 30px;font-size: large"
                >
                    Date de la dernière modification : {{ figure.creatDate|date('d/m/Y') }}
                </div>
            </div>

            {% if is_granted('ROLE_USER') %}
            <div class="row col-lg-12"
                 style="color: whitesmoke;margin-top: 50px;margin-bottom: 50px;border-bottom: double">
                <div class="col-lg-12" style="text-align: center">
                    {{ form_start (form) }}
                    <div class="" style="color: whitesmoke;margin-bottom: 50px">
                        {{ form_row (form.content) }}
                    </div>
                    <div class="" style="color: whitesmoke">
                        <button class="btn" style="margin-bottom: 40px">Ajouter un commentaire</button>
                    </div>
                    {{ form_end (form) }}
                </div>
            </div>
        </div>
        {% endif %}
        {% for message in app.flashes('succes') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div class="container">
            <div class="row" style="margin-top: 50px">
                {% for comment in comment %}
                    <li class="col-sm-2" style="list-style: none">
                        <div id="profil1" style="margin-top: 20px">
                            <img id="profil2"
                                    {% if comment.user.img == null %}{% else %}
                                 src="{{ asset ('img/upload/'~comment.user.img) }}" alt="profil">
                            {% endif %}
                        </div>
                        <script>a++</script>
                    </li>
                    <li class="col-sm-10" style="color: whitesmoke;list-style: none;border:double;margin-bottom: 30px">
                        <div class="col-sm-8" style="color: whitesmoke;margin-bottom: 30px">
                            de <strong style="color: whitesmoke;">
                                {{ comment.user.firstName }} </strong> le {{ comment.creatDate|date('d/m/Y') }}
                        </div>
                        <div class="col-sm-8" style="color: whitesmoke;margin-bottom: 30px">
                            {{ comment.content }}
                        </div>
                    </li>
                {% endfor %}
            </div>
        </div>
        <div class="col-lg-12" style="text-align: center;margin-top: 20px;margin-bottom: 20px">
            <div class="row" style="color: whitesmoke">
                <div class="col-lg-12">
                    {{ form_start(form2) }}
                    <div class="" style="color: whitesmoke;margin-bottom: 50px">
                        {{ form_row (form2.hidden,{ "value":"10" }) }}
                    </div>
                    <button type="submit" id="buttonPag1" value="20" class="btn">
                        Voir plus
                    </button>
                    {{ form_end(form2) }}
                </div>
            </div>
        </div>
    </div>
    <script>
        if (a - 1 < 10) {
            document.getElementById('buttonPag1').style.display = 'none';
        }
    </script>
{% endblock %}

