{{ form_start(form) }}
<h1 class="h2 mb-4 font-weight-normal" style="color: whitesmoke">{{ var|default('Création d\'un Article') }}</h1>
<div class="col-md-12">
    {{ form_row(form.nameFigure) }}
</div>
<div class="col-md-12" style="color: whitesmoke">
    {{ form_row(form.groupNumber) }}
</div>
<div class="col-md-12" style="color: whitesmoke">
    {{ form_row(form.content) }}
</div>
<div class="col-md-12" style="color: black;text-align: left">
    {{ form_row(form.imgFigure ) }}
</div>
<div class="col-md-12" style="color: black;text-align: left">
    {{ form_row( form.imgSecondary ) }}
</div>
<div class="row">
<div class="col-lg-12">
    <h5>Ajouter des vidéos</h5>
</div>
    <ul class="col-lg-8" id="videos-fields-list"
        data-prototype="{{ form_widget(form.videos.vars.prototype)|e }}"
        data-widget-tags="{{ '<li></li>'|e }}"
        data-widget-counter="{{ form.children|length }}">
        {% for url in form.videos  %}
        <div class="col-lg-12">
               <li style="list-style: none"> {{ form_widget(url) }} </li>
        </div>
        {% endfor %}
    </ul>
    <div class="col-lg-4">
    <button type="button"
            id="add-collection"
            style="color: #C5D86D"
            data-list-selector="#videos-fields-list">
        <i class="fas fa-plus-circle fa-2x"></i></button>
    </div>
</div>
<div class="row" style="justify-content: center;margin-top: 20px">
<div >
    <button type="submit" class="btn">{{ button|default('Enregistrer') }}</button>
</div>
</div>
{{ form_end (form) }}
