{% extends 'base.html.twig' %}
{% block title 'Modification d\'un Article' %}
{% block body %}

    <div class="container" style="background-color: #17324f">
        <div class="col-lg-12 " style="text-align: center">
            <img class="card-img-top img-thumbnail" src="{{ asset("img/upload/"~id.figure ) }}"
                 alt="Responsive image" style="margin-top: 50px;position: relative;width: 150rem;max-width: 50%">
        </div>
        <div class="row" style="text-align: right">
            <div class="collapse" id="collapseExample">
                {% for trick in figure | sort |reverse %}
                    <div class="card col-lg-4" id="fig" style="width: 14rem;background-color: #17324f;
                        margin-left: 40px;margin-top: 50px;margin-bottom: 50px;border: none">

                        <img class="card-img-top rounded"
                             src="{{ asset("img/upload/"~trick.name ) }}"
                             alt="Card image cap" style="margin-top: 15px;width: 100%">
                        {% if is_granted ('ROLE_USER') %}
                            <div class="container">
                                <div class="row">
                                    <form style="padding: 0px;margin-top: 50px"
                                          action="{{ path ('updateImg',{id:trick.id} ) }}" method="post">
                                        <button class="btn btn-link"><i class="fas fa-pen" style="color: #C5D86D"></i>
                                        </button>
                                    </form>

                                    <form style="padding: 0px;margin-top: 50px"
                                          action="{{ path ('deleteImg',{id:trick.id} ) }}" method="post">
                                        <button class="btn btn-link delete">
                                            <i class="fas fa-trash" style="color: #C5D86D"></i></button>
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('deleteImg'~trick.id) }}">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
            <div class="row col-lg-12">
                <div class="col-lg-12" style="text-align: center;margin-top: 20px;margin-bottom: 20px">
                    <div class="col-sm-6">
                        <button style="margin-left: 60px" class="btn" type="button" id="button" data-toggle="collapse"
                                data-target="#collapseExample"
                                aria-expanded="false" aria-controls="collapseExample">
                            Voir plus
                        </button>
                    </div>
                    <div class="col-sm-6">
                        <button style="margin-left: 60px" class="btn" type="button" id="button" data-toggle="collapse"
                                data-target="#video"
                                aria-expanded="false" aria-controls="video">
                            Voir plus de vidéo
                        </button>
                    </div>
                </div>

                <div class="row col-lg-12" style="justify-content: right">
                    {% for trick in figure | sort |reverse %}
                        <div class="card col-lg-2" id="fig1"
                             style="width: 14rem;background-color: #17324f; margin-top: 50px;margin-bottom: 50px;border: none">

                            <img class="card-img-top rounded"
                                 src="{{ asset("img/upload/"~trick.name ) }}"
                                 alt="Card image cap" style="margin-top: 15px;width: 100%;display: flex">

                            {% if is_granted ('ROLE_USER') %}
                                <div class="container">
                                    <div class="row">
                                        <form style="padding: 0px;margin-top: 50px;margin-left: 100px"
                                              action="{{ path ('updateImg',{id:trick.id} ) }}" method="post">
                                            <button class="btn btn-link"><i class="fas fa-pen"
                                                                            style="color: #C5D86D"></i>
                                            </button>
                                        </form>

                                        <form style="padding: 0px;margin-top: 50px"
                                              action="{{ path ('deleteImg',{id:trick.id} ) }}" method="post">
                                            <button class="btn btn-link delete">
                                                <i class="fas fa-trash" style="color: #C5D86D"></i>
                                            </button>
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('deleteImg'~trick.id) }}">
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                    {% for trick in video | sort |reverse %}
                        <div class="card col-lg-2" id="fig1"
                             style="width: 24rem;background-color: #17324f;
                       margin-top: 50px;margin-bottom: 50px;border: none">
                            <iframe width="200" height="150" src="{{ trick.name }}" frameborder="0"
                                    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                    allowfullscreen></iframe>
                            {% if is_granted ('ROLE_USER') %}
                                <div class="container">
                                    <div class="row">
                                        <form style="padding: 0px;margin-top: 50px;margin-left: 100px"
                                              action="{{ path ('updateVideo',{id:trick.id} ) }}" method="post">
                                            <button class="btn btn-link"><i class="fas fa-pen"
                                                                            style="color: #C5D86D"></i></button>
                                        </form>

                                        <form style="padding: 0px;margin-top: 50px"
                                              action="{{ path ('deleteVid',{id:trick.id} ) }}" method="post">
                                            <button class="btn btn-link delete">
                                                <i class="fas fa-trash" style="color: #C5D86D"></i></button>
                                            <input type="hidden" name="_token"
                                                   value="{{ csrf_token('deleteVid'~trick.id) }}">
                                        </form>
                                    </div>
                                </div>
                            {% endif %}
                        </div>
                    {% endfor %}
                </div>
            </div>


            <div class="collapse" id="video" style="text-align: center">
                {% for trick in video | sort |reverse %}
                    <div class="card col-lg-12" id="fig" style="width: 24rem;background-color: #17324f;
                       margin-top: 50px;margin-bottom: 50px;border: none">

                        <iframe width="315" height="135" src="{{ trick.name }}" frameborder="0"
                                allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
                                allowfullscreen>
                        </iframe>

                        {% if is_granted ('ROLE_USER') %}
                            <div class="container">
                                <div class="row">
                                    <form style="padding: 0px;margin-top: 50px"
                                          action="{{ path ('updateVideo',{id:trick.id} ) }}" method="post">
                                        <button class="btn btn-link"><i class="fas fa-pen" style="color: #C5D86D"></i>
                                        </button>
                                    </form>

                                    <form style="padding: 0px;margin-top: 50px"
                                          action="{{ path ('deleteVid',{id:trick.id} ) }}" method="post">
                                        <button class="btn btn-link delete">
                                            <i class="fas fa-trash" style="color: #C5D86D"></i></button>
                                        <input type="hidden" name="_token"
                                               value="{{ csrf_token('deleteVid'~trick.id) }}">
                                    </form>
                                </div>
                            </div>
                        {% endif %}
                    </div>
                {% endfor %}
            </div>
        </div>

        {{ form_start(form) }}
        <div class="col-lg-12" style="color: whitesmoke;
            margin-bottom: 30px;font-size: large;">
            <div class="col-lg-4"
                 style="margin-bottom: 30px;font-size: x-large;border: double;text-align: left">
                Renseignement sur la figure<br>
            </div>

            <div class="col-lg-12" style="
  color: whitesmoke;border: double;text-align: left">
                {{ form_row(form.name,{'attr' : {'placeholder' : id.name} }) }}
            </div>

            <div class="col-lg-12" style="
  color: whitesmoke;border: double;text-align: left">
                {{ form_row(form.content,{label:'Description de la figure'}) }}
            </div>
        </div>
        <div class="row" style="border-bottom: double;color: whitesmoke">
            <div class="col-lg-6" style="color: whitesmoke;text-align: center;
            margin-bottom: 30px;font-size: large">
                Groupe de la figure : {{ form_row(form.groupFig) }}
            </div>
            <div class="col-lg-6" style="color: whitesmoke;text-align: center;
            margin-bottom: 30px;font-size: large">
                Date de la dernière modification : {{ id.date|date('d/m/Y') }}
            </div>
        </div>
        <div class="col-lg-12" style="color: whitesmoke;margin-top: 20px">
            {{ form_row(form.figure) }}
            {{ form_row(form.figures) }}
        </div>
        <div class="row" style="text-align: center">
            <div class="col-lg-10" style="color: whitesmoke;">
                <div id="div1" class="col-md-12" style="color: whitesmoke">
                    {{ form_row(form.lien1 ) }}
                </div>
                <div id="div2" class="col-md-12" style="color: whitesmoke;display: none">
                    {{ form_row(form.lien2 ) }}
                </div>
                <div id="div3" class="col-md-12" style="color: whitesmoke;display: none">
                    {{ form_row(form.lien3 ) }}
                </div>
            </div>
            <div id="dev1" class="col-md-2" style="margin-top: 50px">
                <button
                        type="button" class="btn"><i
                            class="fas fa-plus-circle fa-2x"></i>

                </button>
            </div>
        </div>
        {% for message in app.flashes('succes') %}
            <div class="alert alert-success" role="alert">
                {{ message }}
            </div>
        {% endfor %}
        <div style="text-align: center;margin-top: 50px">
            <button type="submit" class="btn">
                Sauvegarder
            </button>
        </div>

        {{ form_end(form) }}
    </div>

{% endblock %}